<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticias</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
    </style>
  </head>
  <body>
    <section class="escritorio">
      <div class="header">
        <div class="botonVolver">
          <button class="btnRegresar" routerLink="/home">Regresar</button>
        </div>
        <h1 class="tituloMision24" (click)="Home()">Mision 24</h1>
        <h2 class="slogan">El punto exacto de la noticia</h2>
      </div>
      <br />
      <div class="contenido">
        <div class="sectorImagenes">
          <img
            *ngFor="let item of firstTwoImages"
            [src]="item.path"
            [alt]="item.nombre"
            class="imagenNoticia"
          />

          <button class="masContenido">Ver mas contenido</button>
        </div>
        <div class="textoNoticia" *ngIf="notita">
          <div class="contenedorTitulo">
            <h1 class="tituloNota">{{ notita.titulo }}</h1>
            <h2 class="fechaNota">{{ notita.createdAt }}</h2>
            <div class="divisor"></div>
          </div>
          <div class="contenidoNoticia">
            <p [innerHTML]="notita.descripcion"></p>
          </div>
        </div>
        <div class="seccionComentarios">comentarios (proximamente)</div>
      </div>
    </section>

    <section class="mobile">
      <div class="headerMobile">
        <h1 class="Mision24Mobile" (click)="Home()">Mision 24</h1>
        <h2 class="SloganMobile">El punto exacto de la noticia</h2>
      </div>
      <br />
      <div class="contenidoMobile">
        <img
          *ngFor="let item of firstTwoImages"
          [src]="item.path"
          [alt]="item.nombre"
          class="imagenMobile"
        />
        <button class="botonMasContenidoMobile">Ver mas contenido</button>

        <h1 class="tituloNoticiaMobile">{{ notita.titulo }}</h1>
        <h2 class="fechaNotaMobile">{{ notita.createdAt }}</h2>

        <div class="noticiaTextoMobile">
          <p [innerHTML]="notita.descripcion"></p>
        </div>
      </div>
    </section>
  </body>
</html>
