<div class="row">
    <div class="col-lg-12">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Misión 24</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a type="button" class="btn btn-outline-success me-2" href="/home">Volver</a>
                <img src="./assets/images/logoNav.png" alt="logoNav">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </div>
    <br><br><br><br><br>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-4 col-xs-6 col-sm-6 col-lg-6">
            <img src="./assets/images/img_news_1.png" alt="logoNav">
            <img src="./assets/images/img_news_2.png" alt="logoNav">
        </div>
        <div class="col-md-8 col-xs-6 col-sm-6 col-lg-6">
            <h1 class="text-title">LA INTELIGENCIA ARTIFICIL CADA VEZ MÁS CERCA DE REEMPLAZAR A LOS SERES HUMANOS</h1>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                (N. del T. persona que se dedica a la imprenta)
                desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos
                especimen.
                No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos,
                quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas
                "Letraset",
                las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición,
                como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                (N. del T. persona que se dedica a la imprenta)
                desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos
                especimen.
                No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos,
                quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas
                "Letraset",
                las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición,
                como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                (N. del T. persona que se dedica a la imprenta)
                desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos
                especimen.
                No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos,
                quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas
                "Letraset",
                las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición,
                como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
        </div>
    </div>
</div>