<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espacio de escritor</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;800&family=Roboto:wght@100;400;700&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
    </style>
  </head>
  <body>
    <div class="cabecera">
      <h2 class="tituloHeader">Crear nota periodística</h2>
      <div class="contenedorBoton">
        <button class="cancelarNota" routerLink="/homeAdmin">Cancelar</button>
      </div>
    </div>

    <form [formGroup]="notaForm" (ngSubmit)="CrearNota()">
      <div class="form-group">
        <label class="tituloNota">Titulo de la noticia:</label>
        <input
          type="text"
          formControlName="titulo"
          class="form-control"
          id="inputTitulo"
        />
      </div>

      <div class="encapsularCategorias">
        <div class="form-group">
          <label class="textoCategoria">Categoría:</label>
          <select class="form-control" formControlName="categoriaID">
            <option>valores</option>
            <option>esto</option>
          </select>
        </div>
        <div class="form-group">
          <label class="textoCategoria">Subcategoría:</label>
          <select class="form-control" formControlName="subcategoriaID">
            <option>sera</option>
            <option>que no tiene</option>
          </select>
        </div>
        <div class="dropdown">
          <a href="#"
            ><i class="bi bi-three-dots-vertical"></i> Gestionar de
            categorias</a
          >
          <div class="gestion">
            <ul class="lista">
              <li>
                <a href="/crear-categoria" class="opcion"
                  ><i class="bi bi-plus-circle-fill"></i> Crear categoria</a
                >
              </li>
              <li>
                <a href="#" class="opcion"
                  ><i class="bi bi-pencil-fill"></i> Editar categoria</a
                >
              </li>
              <li>
                <a href="#" class="opcion"
                  ><i class="bi bi-trash-fill"></i> Eliminar categoria</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="textoCategoria">Seleccion de imágenes:</label>
        <input
          type="file"
          name="images"
          class="form-control"
          multiple
          (change)="selectImages($event)"
          id="selectorImagenes"
        />
      </div>
      <div class="form-group">
        <label class="cuerpoNotaTitulo">Cuerpo de la nota:</label>
        <editor
          [init]="editorConfig"
          formControlName="descripcion"
          class="estiloEditor"
        ></editor>
      </div>

      <button type="submit" class="confirmarNoticia">
        Publicar
        <!-- {{ nota.id ? "Actualizar" : "Guardar" }} -->
      </button>
    </form>
  </body>
</html>
