.placeholder-writer{
    height: 500px;
}
.button-img{
    text-decoration:none;
 
}
.background-writer{
    background-color: #EEEE;
    border-radius: 10px 10px 10px 10px;
}
.button-imgAdd{
    background-color: #512B52;
    color: white;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:100px;
    padding-right:100px;
    display: inline-block;
}
.button-cont{
    background-color: #A7DBAB;
    color: white;
    text-decoration:none;
    font-weight:400;
    font-size:19px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:100px;
    padding-right:100px;
    display: inline-block;
}
.button-style{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.headbrand{
    margin-top: 10px;
}