body {
  font-family: Poppins;
  background: #ebeaea;
  height: 100vh;
}

.header {
  background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
}

.header button {
  border-radius: 30px;
  background: #fff;
  border: none;
  width: 143px;
  height: 53px;
  font-size: 20px;
  transition: all ease 0.5s;
}

.header button:hover {
  transform: translateY(-3px);
  background-color: #7bb0a8;
  color: white;
}

.header h1,
h2 {
  color: white;
}

.header h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

.header h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.contenedor_general {
  border-radius: 10px;
  background: #fff;
  width: 632px;
  height: 586px;
  display: block;
  margin: auto;
  margin-top: 4rem;
}

.informacionNoticia {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
}

.formulario {
  padding: 1.2rem;
  display: block;
  margin: auto;
  text-align: center;
}
.titulo,
.categorias,
.cargar {
  display: grid;
  grid-template-columns: 30% auto;
  align-items: center;
  gap: 1rem;
}

.titulo h1,
.categorias h1,
.cargar h1 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-align: end;
  margin-top: 5px;
}

.titulo input {
  border-radius: 5px;
  background: #ebebeb;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.categorias select {
  border-radius: 5px;
  background: #ebebeb;
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.categorias,
.cargar,
.titulo {
  margin-top: 2rem;
}
.selects {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.cargador {
  border-radius: 10px;
  border: 1px solid #ebebeb;
}

.boton_continuar {
  border-radius: 30px;
  background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
  width: 271px;
  height: 63px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  border: none;
  margin-top: 12rem;
  transition: all ease 0.5s;
}

.boton_continuar:hover {
  transform: translateY(-10px);
}

.decoracion {
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
  width: 632px;
  height: 17px;
  margin-top: 1.6rem;
}

.esconder {
  display: none;
}

.estiloEditor {
  padding: 2rem;
}

body {
  min-width: 548px;
  min-height: 629px;
}

.editor button {
  display: block;
  margin: auto;
}

.boton_noticia {
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
  font-size: 2rem;
  font-weight: bold;
  height: 70px;
  width: 380px;
  border-radius: 30px;
  transition: all ease 1s;
}

.boton_noticia:hover {
  transform: translateY(-10px);
  width: 420px;
}

@media screen and (max-width: 1360px) {
  .header {
    background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    align-items: center;
  }

  .header button {
    border-radius: 30px;
    background: #fff;
    border: none;
    width: calc(143px * 0.7);
    height: calc(53px * 0.7);
    font-size: calc(20px * 0.7);
    transition: all ease 0.5s;
  }

  .header h1 {
    color: #fff;
    font-family: Poppins;
    font-size: calc(48px * 0.7);
    font-style: normal;
    font-weight: 600;
  }

  .header h2 {
    color: #fff;
    font-family: Poppins;
    font-size: calc(20px * 0.7);
    font-style: normal;
    font-weight: 600;
  }

  .contenedor_general {
    border-radius: 10px;
    background: #fff;
    width: calc(632px * 0.7);
    height: calc(586px * 0.7);
    display: block;
    margin: auto;
    margin-top: 3rem;
  }

  .informacionNoticia {
    color: #000;
    font-family: Poppins;
    font-size: calc(24px * 0.7);
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
  }

  .formulario {
    padding: 1rem;
    display: block;
    margin: auto;
    text-align: center;
  }
  .titulo,
  .categorias,
  .cargar {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    gap: 1rem;
  }

  .titulo h1,
  .categorias h1,
  .cargar h1 {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-align: end;
    margin-top: 5px;
  }

  .titulo input {
    border-radius: 5px;
    background: #ebebeb;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .categorias,
  .cargar,
  .titulo {
    margin-top: 1rem;
  }
  .selects {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }

  .cargador {
    border-radius: 10px;
    border: 1px solid #ebebeb;
  }

  .boton_continuar {
    border-radius: 30px;
    background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
    width: 271px;
    height: 63px;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border: none;
    margin-top: 3rem;
  }

  .decoracion {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(90deg, #00b2ff 0%, #7bb0a8 100%);
    width: calc(632px * 0.7);
    height: calc(17px 0.7);
    margin-top: 1.6rem;
  }
  .esconder {
    display: none;
  }

  .estiloEditor {
    padding: 2rem;
  }
}
