.cabecera {
  display: grid;
  background-color: #7bb0a8;
  grid-template-columns: auto auto;
  align-items: center;
}

.tituloHeader {
  font-family: Roboto;
  font-size: 32px;
  padding: 1rem;
  font-weight: bold;
  color: white;
  transition: 1s all ease;
}
.cancelarNota {
  width: 200px;
  height: 60px;
  border: none;
  font-size: 32px;
  align-items: end;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: bold;
  background-color: #512b52;
  color: white;
  transition: 1s all ease;
}

.cancelarNota:hover {
  width: 250px;
  background-color: #7f4681;
}

.contenedorBoton {
  text-align: end;
  margin-right: 1rem;
}

.form-group {
  margin: 1rem;

  .tituloNota {
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
  }
  .form-control {
    width: 10vw;
    font-family: Roboto;
  }

  #inputTitulo {
    width: 50vw;
    font-weight: bold;
    text-transform: uppercase;
  }
  .textoCategoria {
    font-family: Poppins;
    font-weight: bold;
  }
}

.encapsularCategorias {
  display: flex;
  align-items: center;
}

.botonCrearCategorias {
  font-family: Roboto;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #7bb0a8;
  height: 40px;
  margin-top: 20px;
}

#selectorImagenes {
  background-color: #7bb0a8;
  color: white;
  font-family: Roboto;
  width: 400px;
  font-weight: bold;
}

.cuerpoNotaTitulo {
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
}

.confirmarNoticia {
  font-family: Roboto;
  font-weight: bold;
  background-color: #7bb0a8;
  border: none;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 50px;
  transition: 1s all ease;
  margin-left: 1rem;
}

.confirmarNoticia:hover {
  width: 250px;
  background-color: #a7dbab;
}

.estiloEditor:hover {
  box-shadow: -1px -1px 69px -21px rgba(123, 176, 168, 1);
  transition: 1s all ease;
}

.menuCategorias {
  background-color: #eee;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  display: grid;
  padding: 3rem;
  gap: 1rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 30%;
  left: 35%;
}

.botonCategoria {
  border: none;
  border-radius: 5px;
  font-family: Roboto;
  font-weight: bold;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  transition: 0.5s all ease;
}

.botonCategoria:hover {
  background-color: #7bb0a8;
  color: white;
  font-size: 20px;
}

#cerrarMenuCategorias:hover {
  background-color: rgb(170, 41, 41);
}


.dropdown {
  position: relative;
  width: 260px;
  margin-top: 20px;
}

.dropdown > a {
  font-family: Poppins;
  text-decoration: none;
  background-color: #7bb0a8;
  padding: .5rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.gestion {
  display: none;
  transition: .5s all ease;
}
.dropdown:hover {
  .gestion{
    display: block;
  }
}

.lista {
  background-color: #EEE;
  width: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  padding: 1rem;
}

.opcion {
  font-family: Poppins;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: .5s all ease;
}
.opcion:hover{
  color: white;
}
li {
  list-style: none;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
}

li:hover {
  background-color: #a7dbab;
  transition: .5s all ease;
}

@media screen and (max-width: 1360px) {
  .tituloHeader {
    font-size: 20px;
  }
  .cancelarNota {
    width: 100px;
    height: 40px;
    border: none;
    font-size: 20px;
  }

  .cancelarNota:hover {
    width: 150px;
    background-color: #7f4681;
  }

  .menuCategorias {
    top: 30%;
    left: 30%;
  }
}
