<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-6">
      <div class="btn-group-vertical d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="MisNotas()">
          Mis notas
        </button>
        <button type="button" class="btn btn-primary" (click)="CrearNota()">
          Crear notas
        </button>
        <button type="button" class="btn btn-primary" (click)="Categorias()">
          Categorias
        </button>
        <button type="button" class="btn btn-primary" (click)="SubCategorias()">
          SubCategorias
        </button>
        <button type="button" class="btn btn-primary">
          Registrar Administrador/Escritor
        </button>
      </div>
    </div>
  </div>
</div>
