.background-writer{
    background-color: #EEEE;
    border-radius: 10px 10px 10px 10px;
}

.button-cont{
    background-color: #A7DBAB;
    color: white;
    text-decoration:none;
    font-weight:400;
    font-size:19px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:100px;
    padding-right:100px;
    margin-left: 10px;
    margin-top: 5px;
}
.button-style{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.text{
    text-align: center;
}