.cabecera {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #7BB0A8;
    align-items: center;
    height: 60px;
}

.cancelar {
    width: 250px;
    height: 45px;
    border-radius: 3px;
    background: #512B52;
    border: none;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    margin-left: 1rem;
}

.cancelar:hover {
    background-color: #814583;
    transition: 1s;
}
.mision24 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.barraBuscador {
    display: flex;
    background-color: white;
}

.inputBuscar {
    width: 784px;
    height: 37px;
    border-radius: 20px;
    background: #EEE;
    border: none;
}

body {
    background-color: #EEE;
}

