<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estadisticas de publicaciones</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="header">
      <button class="boton_regresar" routerLink="/homeAdmin">Regresar</button>
      <h1 class="mision24">mision 24</h1>
    </div>

    <div class="contenedor_buscador">
      <input
        type="text"
        placeholder="Titulo de noticia para buscar"
        class="input_busqueda"
      />
      <button class="boton_buscar"><i class="bi bi-search"></i> Buscar</button>
    </div>

    <div class="contenedor_dropdowns">
      <select class="dropdown">
        <option value="0">Elegir categoria</option>
        <option
          value="categoria"
          *ngFor="let categoria of lista_categoria | ObjToArray"
        >
          {{ categoria.categoria }}
        </option>
      </select>
      <select class="dropdown">
        <option value="0">Elegir subcategoria</option>
        <option
          value="subcategoria"
          *ngFor="let subcategoria of lista_subcategoria | ObjToArray"
        >
          {{ subcategoria.subcategoria }}
        </option>
      </select>
    </div>

    <div class="contenedor_noticias">
      <div
        class="card"
        *ngFor="let nota of notaCompleta | ObjToArray"
        (click)="eliminar_noticia(nota.id)"
      >
        <div class="contenedor_imagen">
          <img
            [src]="nota.itemPaths[0]"
            [alt]="nota.item[0]"
            class="imagen_card"
          />
        </div>
        <div class="contenedor_informacion">
          <h1 class="titulo_noticia">
            {{ nota.titulo }}
          </h1>
          <h2 class="fecha_noticia">{{ nota.createdAt }}</h2>
          <div class="contenedor_botontes_card">
            <button class="boton_editar">
              <i class="bi bi-pencil-square"></i> Editar
            </button>
            <button class="boton_eliminar">
              <i class="bi bi-trash-fill"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
