<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo escritor</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
    </style>
  </head>
  <body>
    <div class="header">
      <button class="boton_regresar" routerLink="/administrador">Regresar</button>
      <h1 class="mision24">MISIÓN 24</h1>
      <h2 class="slogan">El punto exacto de la noticia</h2>
    </div>

    <div class="contenedor_principal">
      <h1 class="nuevo_escritor_texto">Registrar escritor</h1>
      <form [formGroup]="registroEscritor" (ngSubmit)="registrar()">
      <h2 class="nombres_texto">Nombres</h2>
      <input type="text" formControlName="nombre"/>
      <h2 class="nombres_texto">Apellidos</h2>
      <input type="text" formControlName="apellido"/>
      <br>
      <h2 class="nombres_texto">Email (Correo electronico)</h2>
      <input type="text" formControlName="correo"/>
      <h2 class="nombres_texto">Contraseña</h2>
      <input type="password" formControlName="password"/>
      <h2 class="nombres_texto">Confirmar contraseña</h2>
      <input type="text" formControlName="confirmPassword"/>
      <br>
      <button class="boton_guardar"><i class="bi bi-floppy-fill"></i> Guardar cambios</button>
      <input type="hidden" formControlName="rolID" value="1">
      <br>
      </form>
      <div class="linea_decorativa"></div>
    </div>
  </body>
</html>
