<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home del administrador</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Roboto:wght@400;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Roboto:wght@400;700&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
    </style>
  </head>
  <body>
    <div class="cabeza">
      <button class="botonMenuHamburguesa" (click)="setActive()">
        <img
          src="../assets/images/menu-burguer.png"
          alt="Boton de menu"
          class="imagenMenuHamburguesa"
        />
      </button>
      <h1 class="mision24">misión 24</h1>
      <button class="escribirNotaBoton" routerLink="/writer">
        <i class="bi bi-pen-fill"></i> Escribir
      </button>
      <button class="botonUsuario" (click)="AlternarMenu()">
        <img src="../assets/images/usuarioIcon.png" class="imagenUsuarioIcon" />
      </button>
      <div class="buscador">
        <input
          type="text"
          class="campoBuscador"
          placeholder="Buscar noticia"
          (input)="BuscarNota(inputText.value)"
          #inputText
        />
      </div>
    </div>

    <div class="noticiasRecientes">
      <h1 class="textoRecientes">Las noticias recientemente publicadas son:</h1>
      <div
        class="contenedorRecientes"
        *ngFor="let nota of notaCompleta | ObjToArray" (click)="LeerNota(nota.id)"
      >
        <img [src]="nota.itemPaths[0]" class="imagenCard" />
        <div class="informacionCard">
          <h1 class="tituloNota">{{ nota.titulo }}</h1>
          <div
            class="descripcion"
            [innerHTML]="nota.descripcion | slice : 0 : 500"
          ></div>
        </div>
        <h2 class="fechaNota">{{ nota.createdAt }}</h2>
      </div>
    </div>

    <div class="menuUserContenedor" [ngClass]="{ menu: activar }">
      <div class="fondoMenu">
        <button class="botonesMenuUsuarios" routerLink="/editarPerfil">
          <i class="bi bi-pen-fill"></i> Editar informacion del perfil
        </button>
        <button
          class="botonesMenuUsuarios"
          id="botonCerrarSesion"
          routerLink="/login"
        >
          <i class="bi bi-box-arrow-in-left"></i> Cerrar sesión
        </button>
        <button class="botonesMenuUsuarios" routerLink="/homeAdminMenu">
          <i class="bi bi-person-badge-fill"></i> Administrar escritores
        </button>
        <button class="botonesMenuUsuarios" routerLink="/statistics">
          <i class="bi bi-bar-chart-fill"></i> Administrar publicaciones
        </button>
        <button
          class="botonesMenuUsuarios"
          (click)="AlternarMenu()"
          id="botonCerrarMenu"
        >
          <i class="bi bi-x-circle"></i> Cerrar menu
        </button>
      </div>
    </div>

    <section class="menu-hamburguesa" [ngClass]="{ menu: active }">
      <div class="menu-lateral-contenedor">
        <h1 class="labelM">Mision 24</h1>
        <h2 class="select-noticias">Selecciona tus tipos de noticias</h2>
        <div class="lineaDivisora"></div>
        <div class="card1" routerLink="/noticiaInternacional">
          <h1 class="label">Internacional</h1>
        </div>
        <div class="card2" routerLink="/noticiaNacional">
          <h1 class="label">Nacional</h1>
        </div>
        <div class="card3" routerLink="/noticiaOpinion">
          <h1 class="label">Opinion publica</h1>
        </div>
        <div class="card4" routerLink="/noticiaChiapas">
          <h1 class="label">Estado | Chiapas</h1>
        </div>
        <button class="botonCerrar" id="cerrarMenu" (click)="setActive()">
          Cerrar
        </button>
      </div>
    </section>
  </body>
</html>
