<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
    </style>
  </head>
  <body>
    <section class="escritorio">
      <div class="row">
        <div
          class="d-none d-lg-block col-md-4 col-xs-6 col-sm-6 background-login"
        >
          <p class="slogan">El punto exacto de la noticia</p>
          <div class="triangulo-tricolor"></div>
          <img src="./assets/images/logo2.png" alt="logo" class="logo" />
          <img src="./assets/images/pilar2.png" alt="pilar" class="pilar" />
        </div>
        <div class="col-md-8 col-xs-6 col-sm-6 background-login">
          <br />
          <p class="text-title">¡Bienvenido!</p>
          <p>Por favor, inicia sesión para entrar a la plataforma</p>
          <br />
          <form [formGroup]="loginForm" (ngSubmit)="submitFormulario()">
            <div class="col-md-8 col-xs-6">
              <label for="exampleFormControlInput1" class="form-label"
                >Correo electronico</label
              >
              <input
                formControlName="correo"
                type="email"
                class="form-control input"
                id="exampleFormControlInput1"
                placeholder="nombre@ejemplo.com"
              />
            </div>
            <br />
            <div class="col-md-8 col-xs-6">
              <label for="inputPassword5" class="form-label">Contraseña</label>
              <input
                formControlName="password"
                type="password"
                id="inputPassword5"
                class="form-control input"
                aria-labelledby="passwordHelpBlock"
              />
            </div>
            <br />
          </form>
          <a type="button" class="btn button-success" (click)="Iniciar()" (keyup.enter)="Iniciar()"
            >Ingresar</a
          >
          <br /><br />
          <p class="text-others">
            ¿Tienes problemas con tu contraseña?
            <a target="_blank" href="register.component.html" class="links"
              >Nosotros te ayudamos</a
            >
          </p>
          <p class="text-others">
            ¿No estas registrado?
            <a routerLink="/register" class="links">Reistrate aquí</a>
          </p>
          <img
            src="./assets/images/pilar_secundario.png"
            alt="pilar"
            class="pilar-secundario"
          />
        </div>
      </div>
    </section>

    <section class="escritorio_nuevo">
      <div class="general">
        <div class="contenedorIzquierdo">
          <img src="../assets/images/M24x400px.png" class="logoM24" />
          <img src="../assets/images/pilar2.png" class="pilarAdd" />
        </div>
        <div class="contenedorDerecho">
          <div class="centrar">
            <h2 class="sloganEscritorio">El punto exacto de la noticia</h2>
            <h1>Hola, bienvenido</h1>
            <h2>Inicia sesión para entrar a Misión 24</h2>
            <form [formGroup]="loginForm" (ngSubmit)="submitFormulario()">
              <input type="email" class="inputEntrada" placeholder="Correo@gmail.com" formControlName="correo"/>
              <input
                type="password"
                class="inputEntrada"
                placeholder="Contraseña"
                formControlName="password"
              />
              <button class="botonIngresar" (click)="Iniciar()">
                Ingresar <i class="bi bi-arrow-right-short"></i>
              </button>
              <br /><br />
              <h2>O támbien</h2>
              <button id="registrarBoton" routerLink="/register">
                Registrar <i class="bi bi-plus-square"></i>
              </button>
              <button class="noRegistro" routerLink="/home">Ingresar sin registro <i class="bi bi-incognito"></i></button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="mobile">
      <div class="fondoMobile">
        <img
          src="../assets/images/mision24_whiteVersion.png"
          class="logoMobile"
        />
        <h1 class="sloganMobile">El punto exacto de la noticia</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submitFormulario()">
        <div class="contenedorFormulario">
          <h1 class="bienvenidoMobile">¡Inicia sesión!</h1>
          <input
            type="text"
            placeholder="Correo electronico"
            class="inputMobile"
            formControlName="correo"
          />
          <input
            type="password"
            placeholder="Contraseña"
            class="inputMobile"
            formControlName="password"
          />
          <button class="loginBotonMobile" (click)="Iniciar()" (keyup.enter)="Iniciar()">Ok!</button>

          <button class="problemasMobile">
            Clic aca si tienes problemas para iniciar sesion
          </button>
        </div>
        <br />
        <div class="footerMobile">
          <h2 class="slogan2Mobile">¿No estas registrado?</h2>
          <button class="botonRegistrarMobile" routerLink="/register">
            Registrarse
          </button>
        </div>
      </form>
    </section>
  </body>
</html>
