.escritorio {
  display: none;
}
.escritorio_nuevo {
  display: none;
}

.mobile {
  display: none;
}
@media screen and (min-width: 1024px) {
  .escritorio_nuevo {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }
}

.contenedor_general {
  display: grid;
  grid-template-columns: auto auto;
}
.imagen_lateral_izquierda {
  height: 100vh;
  width: 100%;
}
.contenedor_contenido {
  padding: 4rem;
  font-family: Poppins;
  .texto_login {
    font-weight: bold;
  }
  .texto_leyenda {
    font-size: 1.4rem;
    justify-content: justify;
    color: #727272;
  }
  .input_escritorio {
    display: block;
    background-color: #eee;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    outline: none;
    padding: 10px;
    width: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .boton_login {
    border: none;
    font-size: 2rem;
    width: 100%;
    background-color: #512b52;
    height: 50px;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    margin-top: 2rem;
    transition: all ease 0.5s;
  }
  .boton_login:hover {
    background-color: #8f4d92;
  }

  .botones_card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 5rem;
    text-align: center;
  }
  .card_boton {
    background-color: #eee;
    border-radius: 10px;
    padding: 1rem;
    transition: all ease 0.5s;
  }
  .sugerencia_registrarse {
    font-size: 1.5rem;
  }
  .boton_registrarse {
    border: none;
    background-color: #512b52;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 70%;
    transition: all ease 0.5s;
  }
  .card_boton:hover {
    box-shadow: 0px 0px 51px -6px rgba(0, 0, 0, 0.35);
  }
  .boton_registrarse:hover {
    background-color: #8f4d92;
  }
  @media screen and (max-width: 1360px) {
    .botones_card {
      margin-top: 1.5rem;
    }
  }
}


.fondoMobile {
  background-color: #512b52;
  width: 100%;
  height: 60vh;
  border-radius: 0 0 2rem 2rem;
  text-align: center;
}

.sloganMobile {
  font-family: Poppins;
  color: white;
  font-size: 1rem;
}
.contenedorFormulario {
  background-color: white;
  width: 90%;
  height: 100%px;
  position: absolute;
  top: 30%;
  border-radius: 10px;
  font-family: Poppins;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.bienvenidoMobile {
  font-weight: bold;
  margin-left: 1rem;
}
.problemasMobile {
  border: none;
  margin: 5px;
  background-color: white;
  margin-top: 1rem;
  font-size: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.footerMobile {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
  width: 100%;
}
.slogan2Mobile {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 1rem;
}
.botonRegistrarMobile {
  border: none;
  background-color: #512b52;
  color: white;
  width: 90%;
  height: 3rem;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inputMobile {
  border-radius: 10px;
  height: 40px;
  padding-left: 5px;
  border: none;
  background-color: #eee;
  margin-bottom: 1rem;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loginBotonMobile {
  border: none;
  font-family: Poppins;
  font-size: 2rem;
  background-color: #7bb0a8;
  border-radius: 50%;
  width: 99px;
  height: 99px;
  color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.space {
  padding-left: 0px !important;
  padding-top: 0px !important;
}
.triangulo-tricolor {
  width: fit-content;
  border-left: 460px solid #512b52;
  border-top: 359px solid #635274;
  border-bottom: 431px solid #7bb0a8;
}
.position {
  position: relative;
}
.logo {
  position: absolute;
  left: 23px;
  top: -73px;
  z-index: 1;
}
.input {
  width: 50%;
}
.pilar {
  position: absolute;
  left: 0px;
  top: 263px;
  z-index: 1;
}
.pilar-secundario {
  position: relative;
  left: 720px;
  bottom: 20px;
}
.slogan {
  position: absolute;
  color: aliceblue;
  font-family: "Roboto-Bold", sans-serif;
  margin-top: 249px;
  margin-left: 118px;
  font-size: larger;
}
.background-login {
  background-color: #eeee;
}
.text-title {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-size: xx-large;
}
.links {
  color: #7bb0a8;
}
.text-others {
  color: black;
  font-family: "Roboto", sans-serif;
}
.button-success {
  background-color: #512b52;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 150px;
  padding-right: 150px;
}
