<!-- <div class="row">
    <div class="d-none d-lg-block col-md-4 col-xs-6 col-sm-6 background-login">
        <p class="slogan">El punto exacto de la noticia</p>
        <div class="triangulo-tricolor"></div>
        <img src="./assets/images/logo2.png" alt="logo" class="logo">
        <img src="./assets/images/pilar2.png" alt="pilar" class="pilar">
    </div>
    <div class="col-md-8 col-xs-6 col-sm-6 background-login">
        <br>
        <p class="text-title">¡Bienvenido!</p>
        <p>Por favor, inicia sesión para entrar a la plataforma</p>
        <br>
        <form [formGroup]="myForm" (ngSubmit)="submitFormulario">
            <div class="col-md-8 col-xs-6">
                <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                <input formControlName="user" type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="nombre@ejemplo.com">
            </div>
            <br>
            <div class="col-md-8 col-xs-6">
                <label for="inputPassword5" class="form-label">Contraseña</label>
                <input formControlName="password" type="password" id="inputPassword5" class="form-control"
                    aria-labelledby="passwordHelpBlock">
            </div>
            <br>
        </form>
        <a type="button" class="btn button-success" href="/home">Ingresar</a>
        <br><br>
        <p class="text-others">¿Tienes problemas con tu contraseña? <a target="_blank" href="register.component.html"
                class="links">Nosotros te ayudamos</a></p>
        <p class="text-others">¿No estas registrado? <a routerLink="/register" class="links">Reistrate aquí</a></p>
    </div>
</div>
 -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="contenedorPrincipal">
        <div class="contenedorIzquierdo">
            <img src="./assets/images/Lateral.png" alt="" class="imagen">
        </div>
        <div class="contenedorDerecho">
            <div class="formulario">
                <h1 class="welcome">¡Bienvenido!</h1>
                <h2 class="tip">Por favor inicia sesion con tus datos para ingresar a la plataforma.</h2>
                <h3 class="label" >Correo</h3>
                <input type="text" placeholder="mision24@gmail.com" [(ngModel)]="email">
                <h3 class="label" id="label-pass">Contraseña</h3>
                <input type="password" [(ngModel)]="pass">
                <button id="iniciarSesion" (click)="iniciarSesion()">Iniciar sesión</button>
                <h3 class="alter">¿Tienes problemas para iniciar sesion? <a >¡Te ayudamos!</a></h3>
                <h3 class="alter">¿No te has registrado? <a routerLink="/register">¡Registrate ahora!</a></h3>
            </div>
        </div>


    </div>
</body>
</html>