<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticia Chiapas</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
    </style>
  </head>
  <body>
    <div class="pagina">
      <div class="contenedorLateral">
        <div class="contenedorLogo">
          <img
            src="../assets/images/mision24_whiteVersion.png"
            alt="Logo Mision 24 en version blanco"
          />
        </div>

        <h1 class="textoTipoNoticia">Selecciona el tipo de noticia</h1>

        <section class="indicador">
          <h1 class="tipoNoticia">Estado | Chiapas</h1>
        </section>

        <div class="navegacion">
          <a routerLink="/noticiaInternacional">Internacional</a>
          <a routerLink="/noticiaOpinion">Opinión publica</a>
          <a routerLink="/noticiaNacional">Nacional</a>
        </div>

        <button class="botonRegresar" routerLink="/homeAdmin">Regresar</button>
      </div>

      <div class="contenido">
        <div class="card">
          <img
            src="https://static.wixstatic.com/media/fd3de2_bb0edc60f6d946bda23a3a94625f2595~mv2.jpg/v1/fit/w_1000%2Ch_726%2Cal_c%2Cq_80,enc_auto/file.jpg"
            class="imagenCard"
          />
          <h1 class="tituloNota">Los aliens fueron confirmados por la NASA</h1>
          <h2 class="fechaNota">(22/08/2023)</h2>
        </div>
        <div class="card">
          <img
            src="https://static.wixstatic.com/media/fd3de2_bb0edc60f6d946bda23a3a94625f2595~mv2.jpg/v1/fit/w_1000%2Ch_726%2Cal_c%2Cq_80,enc_auto/file.jpg"
            class="imagenCard"
          />
          <h1 class="tituloNota">Titulo de noticia</h1>
          <h2 class="fechaNota">(22/08/2023)</h2>
        </div>
        <div class="card">
          <img
            src="https://static.wixstatic.com/media/fd3de2_bb0edc60f6d946bda23a3a94625f2595~mv2.jpg/v1/fit/w_1000%2Ch_726%2Cal_c%2Cq_80,enc_auto/file.jpg"
            class="imagenCard"
          />
          <h1 class="tituloNota">Titulo de noticia</h1>
          <h2 class="fechaNota">(22/08/2023)</h2>
        </div>
      </div>
    </div>
  </body>
</html>
