<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
  </style>
  <title>Home</title>
</head>

<body [ngClass]="{'scrollear': activarMenu}">
  <section class="escritorio">
    <div class="header">
      <div class="grupo1">
        <i class="bi bi-list" (click)="alternarMenu()"></i>
        <img src="../assets/images/mision24_whiteVersion.png" alt="Logo Misión 24" class="logoMision24"
          routerLink="/home">
      </div>

      <input type="text" placeholder="Buscador de noticias" class="buscador" [(ngModel)]="valorBuscador">
      <button class="botonBuscador" (click)="solicitarBusqueda()"><i class="bi bi-search"></i></button>
      
      <button class="botonIniciarSesion"><i class="bi bi-person-fill"></i> Iniciar sesión</button>
    </div>
    <div class="contenedorRecientes">
      <h1 class="textoRecientes">Noticias recientes</h1>
      <div class="cardRecientes" *ngFor="let nota of notasLimitadas | ObjToArray" (click)="LeerNota(nota.id)">
        <div class="auxiliar">
          <img [src]="nota.itemPaths[0]" [alt]="nota.item[0]" class="imagenNoticia">
          <div class="texto">
            <h2 class="tituloNoticiaReciente">{{nota.titulo}}</h2>
            <h1 class="descripcionNoticia" [innerHTML]="nota.descripcion | slice : 0 : 150"></h1>
          </div>
        </div>

        <h3 class="fechaNoticia">{{ nota.createdAt }}</h3>
      </div>
    </div>
    <div class="botonesFiltros">
      <button (click)="FiltrarNota('Noticias del día')">Noticias del día</button>
      <button (click)="FiltrarNota('Nacional')">Nacional</button>
      <button (click)="FiltrarNota('Opinion publica')">Opinión pública</button>
    </div>
    <div class="resultadosFiltros">
      <div class="cardFiltro" *ngFor="let nota of notasAbajoLimitadas | ObjToArray" (click)="LeerNota(nota.id)">
        <img [src]="nota.itemPaths[0]" alt="Fotos de mas noticias" class="imgFiltro">
        <h2 class="tituloNoticiaReciente2">{{nota.titulo}}</h2>
        <h1 class="descNotaFiltro" [innerHTML]="nota.descripcion | slice : 0 : 50"></h1>
        <h1 class="fechaRes">{{ nota.createdAt }}</h1>
      </div>
    </div>

    <div class="oscurecer" [ngClass]="{'mostrar': activarMenu, 'ocultar': activarMenu}" (click)="alternarMenu()"></div>
    <div class="contenedorMenuLateral" [ngClass]="{'mostrar': activarMenu, 'ocultar': activarMenu}">

      <img src="../assets/images/mision24_whiteVersion.png" alt="Logo mision 24" class="imagenMenuLateral">
      <h1 class="sloganMenuLateral">El punto exacto de la noticia</h1>
      <div class="barraDecorativa"></div>
      <div class="enlacesMenu">
        <a href="/noticiaInternacional"><i class="bi bi-globe-americas e"></i> Noticias internacionales</a>
        <a href="/noticiaNacional"><i class="bi bi-building e"></i> Noticias nacionales</a>
        <a href="/noticiaOpinion"><i class="bi bi-chat-dots-fill e"></i> Noticias de opinión</a>
      </div>
      <button class="cerrarMenuBoton" (click)="alternarMenu()">Cerrar menu</button>
    </div>
  </section>
</body>

</html>