body {
  background-color: #EEE;
}

.header,
.grupo1 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.bi-list {
  font-size: 2rem;
  cursor: pointer;
  transition: all ease .2s;
}

.bi-list:hover {
  transform: scale(1.2);
}

.logoMision24 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  transition: all ease .2s;
  cursor: pointer;
}

.logoMision24:hover {
  transform: scale(1.1);
}

.buscador {
  width: 70%;
  border: 1px solid #EEE;
  outline: none;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.botonBuscador {
  background-color: #512B52;
  color: white;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  transition: all ease .2s;
}

.botonBuscador:hover {
  color: #7BB0A8;
}

.botonIniciarSesion {
  font-family: Poppins;
  color: white;
  background-color: #7BB0A8;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: all ease .2s;
  font-size: 80%;
}

.botonIniciarSesion:hover {
  transform: translateY(-5px);
}


.imagenNoticia {
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.contenedorRecientes {
  background-color: white;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 5px;
}

.textoRecientes {
  background: linear-gradient(90deg, #00B2FF 0%, #7BB0A8 100%);
  font-family: Poppins;
  font-size: 1.3rem;
  padding: 2px 5px;
  color: white;
  border-radius: 5px 5px 0 0;
}

.cardRecientes,
.auxiliar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto {
  margin-left: 1rem;
  font-family: Poppins;
}

.texto h2 {
  font-weight: bold;
  font-size: 1rem;
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.texto h1 {
  font-size: 12px;
  color: #b9b3b3;
}

.fechaNoticia {
  font-family: Poppins;
  font-size: 1rem;
}

.cardRecientes {
  margin: 10px;
  transition: all ease .2s;
  cursor: pointer;
}

.fechaNoticia {
  padding: 0 5px;
}

.cardRecientes:hover {
  box-shadow: 2px 1px 15px 0px rgba(0, 0, 0, 0.15);
}

.botonesFiltros {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 2rem;
}

.botonesFiltros button {
  background-color: #635274;
  color: white;
  border: none;
  font-family: Poppins;
  font-size: 1rem;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  transition: all ease .2s;
}

.botonesFiltros button:hover {
  transform: scale(1.1);
}

.resultadosFiltros {
  width: 95%;
  margin: auto;
  margin-top: 3rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: scroll;
}

.imgFiltro {
  width: 95%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
}

.tituloNoticiaReciente2 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
}

.descNotaFiltro {
  font-family: Poppins;
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
}

.cardFiltro {
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease .2s;
}

.cardFiltro:hover {
  box-shadow: 2px 1px 15px 0px rgba(0, 0, 0, 0.15);
}

.fechaRes {
  font-family: Poppins;
  font-size: 10px;
  font-style: italic;
  text-align: end;
  padding-right: 5px;
}

.contenedorMenuLateral {
  background: linear-gradient(180deg, #635274 0%, #512B52 100%);
  width: 25%;
  height: 100vh;
  position: absolute;
  top: 0;
}

.oscurecer {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.escritorio {
  position: relative;
}

body {
  overflow-y: hidden;
}

.scrollear {
  overflow-y: scroll;
}

.imagenMenuLateral {
  width: 30%;
  object-fit: cover;
  display: block;
  margin: auto;
  transition: all ease .2s;
}

.sloganMenuLateral {
  font-family: Poppins;
  width: 100%;
  font-size: 100%;
  color: white;
  text-align: center;
}

.barraDecorativa {
  background-color: white;
  width: 80%;
  height: 1px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.enlacesMenu {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  gap: 10px;
}

.enlacesMenu a {
  font-family: Poppins;
  width: 100%;
  font-size: 100%;
  color: white;
  text-decoration: none;
  transition: all ease .2s;
  height: 30px;
  padding: 5px;
}

.enlacesMenu a:hover {
  background: linear-gradient(90deg, #635274 0%, #512B52 100%);
  border-radius: 5px;
  transform: translateX(10px);
}

.cerrarMenuBoton {
  font-family: Poppins;
  color: white;
  width: 80%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  display: block;
  margin-top: 90%;
  transition: all ease .2s;
}
.cerrarMenuBoton:hover {
  background-color: white;
  color: #512B52;
  transform: translateY(-5px);
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

.e {
  margin-right: 10px;
}