<div class="row">
    <div class="col-lg-12">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Misión 24</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="./assets/images/logoNav.png" alt="logoNav">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a type="button" class="btn btn-outline-success me-2" href="/register">Iniciar sesión</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </div>
    <br><br><br><br>
    <div class="rectangulo">
        <p class="text-others">Recientes</p>
    </div>
    <div class="cardContainer col-12">
        <br>
        <div class="card mb-3 cardStyle">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="./assets/images/img1.png" class="img-card" alt="news1">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 cardStyle">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="./assets/images/img1.png" class="img-card" alt="news1">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 marginheadband" >
        <a type="button" class="btn button-success button-headband" href="/news">Accidentes</a>
        <a type="button" class="btn button-success button-headband" href="/news">Alzar la voz</a>
        <a type="button" class="btn button-success button-headband" href="/news">Notas del dia</a>
    </div>

    <div class="rectanguloVistos">
        <p class="text-others">Mas vistos</p>
    </div>
    <div class="cardContainer col-xs-12 col-lg-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="./assets/images/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>