.rectangulo{
    width: 1508px; 
    height: 25px; 
    background: #428bca;
    background: #7BB0A8;
    border-radius: 5px 5px 0px 0px;
}
.rectangulo2{
    width: 1508px; 
    height: 25px; 
    background: #635274;
    border-radius: 5px 5px 0px 0px;
}
.imgStyle{
    display: block;
  margin: auto;
}
.text-others{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large; 
    padding-left: 10px; 
}