<div class="row">
    <div class="col-lg-12">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Misión 24</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="./assets/images/logoNav.png" alt="logoNav">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <!--<a type="button" class="btn btn-outline-success me-2" href="/register">Iniciar sesión</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </div>
    <br><br><br><br>
    <div class="col-md-6 col-xs-6 col-sm-6 background-writer">
        <h5 class="text">Configuración de publicación</h5>
        <br>
        <p class="text">Selecciona el tipo de noticia</p>
        <div class="col-md-6 col-xs-6 col-sm-6 button-style">
            <a type="button" class="btn button-cont" href="/home">Estatal</a>
            <a type="button" class="btn button-cont" href="/home">Nacional</a>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 button-style">
            <a type="button" class="btn button-cont" href="/home">Internacional</a>
        </div>
        <p class="text">Tipo de noticia</p>
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>...</option>
                <option value="1">Accidentes</option>
                <option value="2">Política</option>
                <option value="3">Informativo</option>
            </select>
            <label for="floatingSelect">Seleccione la clasificación de la noticia</label>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 button-style-publish ">
            <a type="button" class="btn button-success" href="/news">Publicar noticia</a>
        </div>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6">
        <a type="button" class="btn button-img" href="/statistics"><img src="./assets/images/admin.png" class=""></a>
        <a type="button" class="btn button-img" href="/statistics"><img src="./assets/images/home.png" class=""></a>
    </div>

</div>