<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de usuario</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
    </style>
  </head>
  <body>
    <section class="escritorio">
      <div class="general">
        <div class="contenedorIzquierdo">
          <img src="../assets/images/M24x400px.png" class="logoM24" />
          <img src="../assets/images/pilar2.png" class="pilarAdd" />
        </div>
        <div class="contenedorDerecho">
          <div class="centrar">
            <h2 class="sloganEscritorio">El punto exacto de la noticia</h2>
            <h1>¡Registrate!</h1>
            <h2>Registrate para formar parte de Misión 24</h2>
            <form [formGroup]="registroForm" (ngSubmit)="Registro()">
              <input
                type="text"
                class="inputEntrada"
                placeholder="Nombres"
                formControlName="nombre"
              />
              <input
                type="text"
                class="inputEntrada"
                placeholder="Apellidos"
                formControlName="apellido"
              />
              <br />
              <input
                type="text"
                class="inputEntrada"
                placeholder="Correo@gmail.com"
                formControlName="correo"
              />
              <input
                type="password"
                class="inputEntrada"
                placeholder="Contraseña"
                formControlName="password"
              />
              <input
                type="password"
                class="inputEntrada"
                placeholder="Confirmar contraseña"
                formControlName="confirmPassword"
              />

              <button class="botonIngresar">
                Registrar <i class="bi bi-plus-square"></i>
              </button>
              <br /><br />
              <h2>O támbien</h2>
              <button id="registrarBoton" routerLink="/login">
                Iniciar Sesión 
                <i class="bi bi-arrow-right-short"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="mobile">
      <div class="barraFondoMobile">
        <div class="fondoContrasteMobile">
          <img
            src="../assets/images/mision24_whiteVersion.png"
            class="logoMision24Mobile"
          />
        </div>
      </div>

      <form>
        <div class="formularioMobile">
          <h1 class="texto1Mobile">Registrate</h1>
          <div class="cont1">
            <input type="text" placeholder="Nombres" class="inputMobile" />
            <input type="text" placeholder="Apellidos" class="inputMobile" />
          </div>

          <div class="cont2">
            <input
              type="email"
              placeholder="Correo electronico"
              class="inputMobile"
            />
            <input
              type="password"
              placeholder="Contraseña"
              class="inputMobile"
            />
            <input
              type="password"
              placeholder="Confirmar la contraseña"
              class="inputMobile"
            />
          </div>

          <button class="registrarseMobile">Registrarse</button>
        </div>
      </form>

      <h2 class="tieneCuenta">
        ¿Ya tienes cuenta?
        <span class="pulsar" routerLink="/login">Pulsa aqui</span>
      </h2>
    </section>
  </body>
</html>
l
