<div class="row">
  <div class="col-md-4 col-xs-6 col-sm-6 background-login">
    <p class="slogan">El punto exacto de la noticia</p>
    <div class="triangulo-tricolor"></div>
    <img src="./assets/images/logo2.png" alt="logo" class="logo" />
    <img src="./assets/images/pilar2.png" alt="pilar" class="pilar" />
  </div>
  <div class="col-md-8 col-xs-6 col-sm-6 background-login">
    <br />
    <p class="text-title">¡Bienvenido!</p>
    <p>Registrate en la plataforma para poder interactuar con las noticias</p>
    <br />
    <form [formGroup]="registroForm" (ngSubmit)="Registro()">
      <div class="col-md-8 col-xs-6">
        <label for="nombre" class="form-label">Nombre:</label>
        <input
          formControlName="nombre"
          type="text"
          class="form-control"
          id="nombre"
          placeholder="Eduardo"
        />
        <div *ngIf="isFieldInvalid('nombre')" class="text-danger">
          <div *ngIf="isFieldRequired('nombre')">El nombre es requerido.</div>
        </div>
      </div>
      <div class="col-md-8 col-xs-6">
        <label for="apellido" class="form-label">Apellidos</label>
        <input
          formControlName="apellido"
          type="text"
          class="form-control"
          id="apellido"
          placeholder="Ramirez Sanchez"
        />
        <div *ngIf="isFieldInvalid('apellido')" class="text-danger">
          <div *ngIf="isFieldRequired('apellido')">
            Los apellidos son requeridos.
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-6">
        <label for="correo" class="form-label">Correo electrónico</label>
        <input
          formControlName="correo"
          type="email"
          class="form-control"
          id="correo"
          placeholder="nombre@ejemplo.com"
        />
        <div *ngIf="isFieldInvalid('correo')" class="text-danger">
          <div *ngIf="isFieldRequired('correo')">
            El correo electrónico es requerido.
          </div>
        </div>
      </div>
      <br />
      <div class="col-md-8 col-xs-6">
        <label for="password" class="form-label">Contraseña</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          aria-labelledby="passwordHelpBlock"
        />
        <div *ngIf="isFieldInvalid('password')" class="text-danger">
          <div *ngIf="isFieldRequired('password')">
            La contraseña es requerida.
          </div>
        </div>
      </div>
      <br />
      <div class="col-md-8 col-xs-6">
        <label for="confirmPassword" class="form-label"
          >Confirmar Contraseña</label
        >
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confirmPassword"
          aria-labelledby="passwordHelpBlock"
          required
        />
        <div
          *ngIf="
            isFieldInvalid('confirmPassword') ||
            registroForm.hasError('passwordMismatch')
          "
          class="text-danger"
        >
          <div
            *ngIf="
              isFieldRequired('confirmPassword') ||
              registroForm.hasError('passwordMismatch')
            "
          >
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>
      <br />
      <div class="col-md-8 col-xs-6">
        <label *ngIf="isAdmin" for="isAdmin" class="form-label"
          >Administrador</label
        >
        <input
          formControlName="isAdmin"
          type="checkbox"
          name="isAdmin"
          *ngIf="isAdmin"
          [disabled]="isWriterChecked"
          [(ngModel)]="isAdminChecked"
          id="isAdmin"
        />

        <label *ngIf="isWriter" for="isWriter" class="form-label"
          >Escritor</label
        >
        <input
          formControlName="isWriter"
          type="checkbox"
          name="isWriter"
          *ngIf="isWriter"
          [disabled]="isAdminChecked"
          [(ngModel)]="isWriterChecked"
          id="isWriter"
        />
      </div>
      <br /><br /><br />
      <button type="submit" class="btn btn-outline-success me-2">
        Continuar
      </button>
    </form>

    <br /><br />
    <p class="text-others">
      ¿Ya tienes cuenta? <a href="/login" class="links">Inicia sesión ya</a>
    </p>
  </div>
</div>
