<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar los escritores</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Roboto:wght@400;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Roboto:wght@400;700&display=swap");
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="cabecera">
      <button class="boton-cancelar" routerLink="/homeAdminMenu">
        Retroceder
      </button>
      <h1 class="titulo">Mision 24</h1>
      <h1 class="slogan">El punto exacto de la noticia</h1>
    </div>

    <div class="contenedor-general">
      <h1 class="titular">
        Escritores registrados
        <p>Escritores: {{cantidadEscritores}}</p>
      </h1>
      <div
        class="card-escritor"
        *ngFor="let escritor of escritores | ObjToArray"
      >
        <h2 class="nombre-escritor">{{ escritor.nombre }} {{ escritor.apellido }}</h2>
        <h2 class="fecha-registro">{{ escritor.createdAt }}</h2>
        <div class="botones">
          <button class="boton-editar" (click)="encontrarEscritor(escritor.id)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="boton-eliminar" (click)="eliminarEscritor(escritor.id)">
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
