<h2>Crear Nota</h2>
<form [formGroup]="notaForm" (ngSubmit)="CrearNota()">
  <div class="form-group">
    <label>Titulo:</label>
    <input
      type="text"
      formControlName="titulo"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label>Categoría:</label>
    <select
      class="form-control"
      formControlName="categoriaID"
    >
      <option
        *ngFor="let categoria of categorias | ObjToArray"
        [value]="categoria.id"
      >
        {{ categoria.categoria }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Subcategoría:</label>
    <select
      class="form-control"
      formControlName="subcategoriaID"
    >
      <option
        *ngFor="let subcategoria of subCategorias"
        [value]="subcategoria.id"
      >
        {{ subcategoria.subcategoria }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>Imágenes:</label>
    <input
      type="file"
      name="images"
      class="form-control"
      multiple
      (change)="selectImages($event)"
    />
  </div>
  <div class="form-group">
    <label>Descripción:</label>
    <editor
      [init]="editorConfig"
      formControlName="descripcion"
    ></editor>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>